.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navLink {
  font-weight: 500;
}

.navLink:hover,
.navLink:focus {
  color: #3368f1;
}

.navLink.isActive {
  font-weight: 700;
  color: #0a3dca;
}
